@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use 'sass:color';

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $color-neutral-white;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: $spacing-xl;
        padding-block: $spacing-lg $spacing-xl;
        max-width: 1200px;
        margin-inline: auto;
        border-bottom: 2px solid $color-neutral-lightgrayishblue;

        @include respond(xl) {
            padding-inline: 0;
            padding-block: $spacing-xl $spacing-xxl;
        }
    }

    &__menu-toggle {
        display: block;
        padding-top: 4px;

        @include respond(md) {
            display: none;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: $spacing-md;

        @include respond(md) {
            gap: $spacing-logo-nav;
        }
    }

    &__logo svg {
        color: $color-neutral-verydarkblue;
        transition: all 0.1s ease-in-out;

        &:hover {
            color: $color-primary;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1.375rem;

        @include respond(lg) {
            gap: 2.8125rem;
        }
    }

    &__cart {
        position: relative;

        &-count {
            display: none;
            position: absolute;
            top: -0.55rem;
            right: -0.55rem;
            background-color: $color-primary;
            color: $color-neutral-white;
            font-size: $font-size-sm;
            font-weight: 700;
            padding: 0.125rem 0.45rem;
            border-radius: 999px;
            line-height: 1;

            &.show-count {
                display: inline-block;;
            }
        }
    }

    &__avatar {
        border-radius: 50%;
        border: 3px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: color.adjust($color-primary, $lightness: 10%);
        }
        img {
            width: 1.5rem;

            @include respond(md) {
                width: 3rem;
            }
        }
    }
}